<!DOCTYPE html>
<html>
<head>
  <title>Cl1k</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to 'Cl1k', root_url, class: 'navbar-brand' %>
			</div>
			<div class="navbar-collapse collapse">
				<%= render 'shared/header_user_menu' %>
			</div><!--/.navbar-collapse -->
		</div>
	</div>
	<div id="main" <% if signed_in? %>ng-app="cl1k"<% end %> class="container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
	</div>
	<hr>
	<footer>
		<p>&copy; Cl1k 2013</p>
	</footer>
</body>
</html>
